<h1>Datos de la Plataforma</h1>

<section class="home">

    <mat-card class="home__card">
        <mat-card-header>
            <div mat-card-avatar><mat-icon>face</mat-icon></div>
            <mat-card-title>Estudiantes</mat-card-title>
            <mat-card-subtitle>Cantidad de Estudiantes</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="home__card__value home__card__value__students">
            {{ studentsCount }}
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="home__card">
        <mat-card-header>
            <div mat-card-avatar><mat-icon>event_note</mat-icon></div>
            <mat-card-title>Cursos</mat-card-title>
            <mat-card-subtitle>Cantidad de Cursos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="home__card__value home__card__value__courses">
            {{ coursesCount }}
            </p>
        </mat-card-content>
    </mat-card>

</section>