.table-responsive__button{
    width: 99%;
    padding: 3px 3px 5px;
    text-align: right;
}

.container__detail{
    width: 75%;
    border: 3px solid rgb(240, 230, 140, .3) ;
    border-radius: 15px;
    overflow: hidden;
}

.row__detail{
    padding-bottom: 5px;
    padding-top: 5px;
}

.col__title{
    text-align: right;
}