.inscription__dialog{
    margin: 15px;
}

.inscription__dialog__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inscription__dialog_error{
    display: inline;
}

.inscription__dialog__button__active{
    border: 2px solid rgba($color: #000000, $alpha: 0.2);
    margin-left: 3px;
}

.inscription__main__title{
    color: wheat;
}