.student__dialog{
    margin: 15px;
}

.student__dialog__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student__dialog_error{
    display: inline;
}

.student__dialog__button__active{
    border: 2px solid rgba($color: #000000, $alpha: 0.2)
}

.dialogTitle{
    color: wheat;
}